*{
  margin:0;
  padding:0;
  
}

body{
  background-color: #01A6DC;
  
}

.main-body{
  display:grid;
  grid-template-columns:55% 45%;
  margin-top: 30px;
 }
 
/*========= Nav Bar ========*/ 

.nav-btn button{
    display:none;
  }

.navbar-brand {
  font-size:30px;
  color:white;
  margin-left:20px;
  text-decoration: none;
}  

/* ===========For Nav Stiky=============== */
.navbar{
  background-color: rgb(255, 145, 0);
  position: fixed;
  width: 100%;
  z-index: 11;
  top: 0;
  left: 0;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0 0 2rem 0 rgba(0, 0 , 0);
}
/* =========== End For Nav Stiky =============== */  


.nav-ul{
  display: flex;
  justify-content:flex-end;
  margin-top:-35px;
  padding-bottom: 5px;
  
}

.nav-ul li{ 
  list-style-type:none; 
  margin-right:150px; 
}

.nav-ul li:last-child{  
  margin-right:60px;  
}

.nav-ul li a{
  text-decoration: none;
  font-size: 26px;
  color: white; 
}


.nav-ul li a:hover{
  color: red;
  
}

/*================== Nav Bar End ===========================*/ 


/*======== Content Alignment =================== */
.content h1{
  display: grid;
  margin-left: 10px;
  margin-top: 25px;
}

.par{
  display: grid;
  justify-content: left;
  text-align: left;
  margin-left: 10px; 
  margin-right: 10px;
}

/* ============= Form Alignment ===============================*/
  .form-alignment{
    display: flex;
    justify-content: center;
  }

/* ============= End Form Alignment ===========================*/  


/* ================== Form Designe ============================*/
.form-sm-300{
  background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
  height:470px;
  width:300px;
  color: aliceblue;
  margin-top: 2rem;
  border-radius: 10px;
  box-shadow: -3px 2px 1px white;
  margin-bottom: 20px;
  
}

.form-sm-300 > h2 {
   font-size:40px;
   position: relative;
   text-align: center;
   margin-top: 40px;
 
}

.form-sm-300 div{
 text-align:center; 
}

.form-sm-300 div > input{
  height:30px;
  width:180px;
  margin-top: 27px;
  font-size: 18px;
  border: none;
  color: white;
  border-bottom: 1px solid orange;
  background: transparent;
 }

 .form-sm-300 div > input:focus{
  outline: none;
  color: white;
 }

 .btnn{
  margin-top: 25px;
  background-color: orange;
  font-size: 20px;
  padding:5px 20px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: aliceblue;
  cursor:pointer;
}

.plain-text-sm{
  margin-top: 20px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.text-sm{
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

.text-sm  a{
  margin-top:50px;
  text-decoration: none;
  color: orange;
  font-size: 25px;
}

.social-ico{
  margin-top: 27px;
  font-size: 30px;
  display:flex;
  justify-content:space-around;
  text-align: center;
}

.social-ico a{
  color: white;
  transition: 1s ease;
  transform: scale();
}

.social-ico a:hover{
  color: orange;
  transform: scale(2);

}
/* ================== Form Designe End ============================*/



/*============ Responsive Start =============*/

@media (max-width:715px){
  .main-body{
    display:grid;
    grid-template-columns:100%;
  }

/*======== Content Alignment =================== */
    .content h1{
        display: flex;
        flex-direction:column;
        justify-content: center;
        text-align: center;
        margin-top: 25px;
    }

    .par{
      display: flex;
      flex-direction:column;
      justify-content: center;
      text-align: center;
    }
 /*======== Nav Bar =================== */
    .nav-ul{
      display:none;
      flex-direction: column; 
      margin-top: 5px;

     }
     
     .nav-ul li{ 
      list-style-type:none; 
      margin-right:50px; 
      margin-left: 10px;
      padding:5px;
    }
    .nav-btn button{
      font-size: 30px;
      float:right;
      background:none;
      border: none;
      color: white;
      cursor: pointer;
      display:block;
      margin-top: 2px;
      margin-right: 10px;
    }

    .dis-pro{
      display:block;
      z-index: 10;
      height:113px;
      width:100%;
      background-color: rgb(255, 145, 0);
      box-shadow: 0 0 2rem 0 rgba(0, 0 , 0);
    }

}

@media (max-width:1000px){
  .nav-ul li{ 
    list-style-type:none; 
    margin-right:100px; 
  }
}

@media (min-width:1600px){
  .main-body{
    display:grid;
    grid-template-columns:70% 30%;
   }

  .nav-ul li{ 
    list-style-type:none; 
    margin-right:300px; 
  }

}
/*============ Responsive End =============*/

/*=================== Signup Start==========================*/

.main-body-100 {
  display: grid;
  grid-template-columns: 100%;
  margin-top: 30px;                 /* This Margin is according to Navbar Size */
}

.form-lg-700{
  background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
  height:auto;
  width:550px;
  color: aliceblue;
  margin-top: 2rem;
  border-radius: 10px;
  box-shadow: -3px 2px 1px white;
  margin-bottom: 20px;
  margin-left:20px;
  margin-right:20px;
  margin-bottom: 10px;
}

.form-lg-700 > h2 {
  font-size:40px;
  position: relative;
  text-align: center;
  margin-top: 10px;

}


.form-lg-700 div{
  text-align:center; 
 }
 
 .form-lg-700 div > input{
   height:30px;
   width:230px;
   margin-top: 27px;
   font-size: 18px;
   border: none;
   color: white;
   border-bottom: 1px solid orange;
   background: transparent;
   margin-left: 7px;
   margin-right:7px;
  }
 
  .form-lg-700 div > input:focus{
   outline: none;
   color: white;
  }
  .btnn-lg{
    margin-top: 30px;
    background-color: orange;
    font-size: 30px;
    padding:5px 20px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: aliceblue;
    cursor:pointer;
    border: none;
  }

  .text-lg{
    margin-top: 20px;
    font-size: 26px;
    text-align: center;
  }

  .text-lg  a{
    margin-top:42px;
    text-decoration: none;
    color: orange;
    font-size: 27px;
  }
  
  .plain-text-lg{
    margin-top: 20px;
    font-size: 29px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
  }

  
.social-ico-lg{
  margin-top: 25px;
  font-size: 30px;
  display:flex;
  justify-content:space-around;
  text-align: center;
  padding-bottom: 20px;
}

.social-ico-lg a{
  color: white;
  transition: 1s ease;
  transform: scale();
}

.social-ico-lg a:hover{
  color: orange;
  transform: scale(2);
}

/*============ Responsive Start =============*/


@media (max-width:700px){

  .form-lg-700{
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    height:auto;
    width:445px;
    color: aliceblue;
    margin-top: 2rem;
    border-radius: 10px;
    box-shadow: -3px 2px 1px white;
    margin-bottom: 20px;
    margin-left:20px;
    margin-right:20px;
   
  }
   
 .form-lg-700 div > input{
  height:30px;
  width:180px;
  margin-top: 27px;
  font-size: 18px;
  border: none;
  color: white;
  border-bottom: 1px solid orange;
  background: transparent;
  margin-left: 7px;
  margin-right:7px;
 }


}


@media (max-width:431px){

  .form-lg-700{
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    height:auto;
    width:311px;
    color: aliceblue;
    margin-top: 2rem;
    border-radius:10px;
    box-shadow: -3px 2px 1px white;
    margin-bottom: 20px;
    margin-left:20px;
    margin-right:20px;
   
  }
   
   
 .form-lg-700 div > input{
  height:30px;
  width:180px;
  margin-top: 27px;
  font-size: 18px;
  border: none;
  color: white;
  border-bottom: 1px solid orange;
  background: transparent;
  margin-left: 7px;
  margin-right:7px;
 }

 .text-lg{
  margin-top: 15px;
  font-size: 20px;
  text-align: center;
}

.text-lg  a{
  margin-top:45px;
  text-decoration: none;
  color: orange;
  font-size: 25px;
}

.plain-text-lg{
  margin-top: 15px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}


.social-ico-lg{
margin-top: 20px;
font-size: 26px;
display:flex;
justify-content:space-around;
text-align: center;
}

.social-ico-lg a{
color: white;
transition: 1s ease;
transform: scale();
}

.social-ico-lg a:hover{
color: orange;
transform: scale(2);
}

.btnn-lg{
  margin-top: 25px;
  background-color: orange;
  font-size: 20px;
  padding:5px 20px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: aliceblue;
  cursor:pointer;
  border: none;
}

}


/*============ Responsive End =============*/

/* ============== End Signup ================= */


